.homePage {
    text-align: center;
}

.image {
    max-width: 60%;
    height: auto;
}

.searchBox {
    width: 70%;
    margin-top: 10%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    gap: 10px;
}

.button {
    background-color: orange !important;
}