.MarkerStyle {
    position: relative;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: purple;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.MarkerStyle:hover {
    width: 22px;
    height: 22px;
    background-color: rgb(182, 3, 182);
}

.markertooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 2;
}

.MarkerStyle:hover .markertooltiptext {
  visibility: visible;
}