.businessButton {
    background-color: white;
    color:orange;
    border: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: "Verdana";
    white-space: nowrap;

    box-shadow: inset 0 0 0 0 orange;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.businessUrl {
    visibility: hidden;
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-family: "Verdana";
    overflow-wrap: break-word;
}

.businessAddress {
    visibility: hidden;
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-family: "Verdana";
}

.businessButton:hover {
    color: white;
    box-shadow: inset 0 100px 0 0 orange;
    font-size: 18px;
}

.businessButton:hover .businessAddress {
    visibility: visible;
}

.businessButton:hover .businessUrl {
    visibility: visible;
}

.BusinessButton:hover .MarkerStyle {
    width: 22px;
    height: 22px;
    background-color: rgb(182, 3, 182);
}