/* Add a black background color to the top navigation */
.topnav {
  background-color: orange;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}